[user]
	email = hesham.elfakharani@gmail.com
	name = hesham
[init]
	defaultBranch = main
[core] 
	packedGitLimit = 512m 
	packedGitWindowSize = 512m 
[pack] 
	deltaCacheSize = 2047m 
	packSizeLimit = 2047m 
	windowMemory = 2047m
